/*---------------------------------------------------
    FORM STYLES v1.1
  ---------------------------------------------------
    A set of common SASS form styles by Terry Upton (Amasci Creative Limited)
	Some of these elements will be unique for every project.
-----------------------------------------------------*/

/* ==========================================================================
   BASE FORM STYLES
========================================================================== */

.text-input {
	@include set-font-size(14px);

	color: $text-color;
	padding:8px 6px;
	border:1px solid rgba($grey, 1);
	margin:2px 0 5px 0;
	-webkit-appearance: none;
	outline: none;

	&:focus {
		outline: none;
	}
}


label {
	@include set-font-size(14px);
	color:$text-color;
}

.signup-form {
	label {@extend %visually-hidden;}

	input[type=text],
	input[type=tel],
	input[type=email],
	select,
	textarea {
		width:90%;
		@extend .text-input;
		margin:0 0 15px 0;
		border:1px solid rgba($grey, .6);

		&.error {
			border: 1px solid $error-color;
			background-color: $error-background;
			color: $error-color;
			@include placeholder($error-color)
		}

		&:focus {
			border:1px solid $sub-color;
			background-color: $sub-color;
			color:$white;
			outline: none;

			@include placeholder($white)

		}

		@include placeholder();
		box-shadow:0 0 5px 5px rgba($grey, .8);
	}

	p {
		@extend .clear
	}

	.subscribe {
		@include set-font-size(16px);
		@extend .btn;
		@extend .light;
		padding-left:20px; padding-right:20px;
	}

}

/* ==========================================================================
   ERROR STYLES
========================================================================== */

.error {
	@include set-font-size(13px);
	@extend .bold;
 	color: $error-color;
  	float: left;
  	margin: 4px 0 $half-spacing-unit 0;
}