/*---------------------------------------------------
    Layout STYLES v1.1
  ---------------------------------------------------
    A set of unique SASS layout styles by Terry Upton (Amasci Creative Limited)
-----------------------------------------------------
*/


/* ==========================================================================
   LAYOUT STYLES
========================================================================== */
/* See Normalize for addition resets */

.wrapper {
	@include rhythm-spacing();
	background-color:$white;
}

/*main {
	@include gs-span(d, 1, 2);

	@include gs-media(m) {
		@include gs-span(m, all);
	}

	@include gs-media(t, min-max) {
		@include gs-span(t, 1);
	}
}

aside {

	@include gs-span(d, 3);
	background-image:url("/images/main.jpg");
	background-repeat:no-repeat;
	background-position:top center;
	@include padding-leader(16);

	@include gs-media(m) {
		@include gs-span(m, all);
		@include gs-pad(m, padin);
		background-image:none;
		@include padding-leader(0);
	}

	@include gs-media(t, min-max) {
		@include gs-span(t, 2);
		@include gs-pad(t, padin);
	}
}*/


/* ==========================================================================
   PAGENAME STYLES
========================================================================== */





/* ==========================================================================
   MISC STYLES
========================================================================== */

%contact {
	@extend .float-left;
	@extend .delta;
	margin-right: $base-spacing-unit*2;

}

.tel, {
	@extend %contact;
}


.address {
	@extend %contact;
	@extend .clear;
	margin-right:5px;
}

.address-text {
	@extend %contact;
	@extend .small;
}

.email {
	@extend %contact;
}

// TODO: Remove this class and source code once client has provided contents.
.input-rqd {
	color:#fa621f;
}

