/*---------------------------------------------------
    FRAMEWORK AND BASE STYLES v1.1
  ---------------------------------------------------
    A set of common SASS framework and base layout styles by Terry Upton (Amasci Creative Limited)
-----------------------------------------------------
*/


/* ==========================================================================
   FRAMEWORK STYLES
========================================================================== */
/* See Normalize for addition resets */

*, *:before, *:after {
  box-sizing: border-box;
 }

html {
	font-size: 100%;
	overflow-y: scroll;
}

body
{
	margin:0 auto;
	font-family:$font-body;
	font-size:$base-font-size;
	-webkit-font-smoothing: antialiased;
	color:$base-color;
	background-color:$sub-color;
}

.container{
	@extend %cf;
	width:95%;
	max-width:$desktop;
	min-width:300px;
	height:auto;
	margin:0 auto;
}

.container-full-width	{width:100%}

header {
	@extend %cf;
}

footer {
	@include padding-leader();
	@extend %cf;
	width:100%;
	background-color:$sub-color;
	color:$white;
}



// HTML5 Native Accordion
// Use details & summary to create an interactive widget that shows and hides
// some content. JavaScript fallback for older browsers.
// -----------------------------------------------------------------------------------
details {
	@include leader;
	@extend .margin-left;
	@extend .margin-right;
	border-bottom:1px solid $grey;

	&:nth-of-type(even) {
		background-color:lighten($grey, 15%);
	}

	&:first-of-type {
		padding-top:0;
	}
}

summary {
	@include trailer();
	@include set-font-size(16px);
	color:$base-color;
    display:block;
    cursor: pointer;
    outline: 0;

	&:focus {
		-webkit-appearance: none;
		outline: none;
		color:$sub-color;
	}

    &:before {
        content: "[+] ";
    }

    details[open] &:before,
    .open &:before {
        content: "[–] ";
    }

}

//This hides the default arrow
details summary::-webkit-details-marker { display:none; }


hr {
	border: solid rgba($grey, .5) 0px;
	border-top:solid rgba($grey, .5) 2px;
	height:0px;
	clear:both;
}



%col-half 	{
	column-count:2;
	column-gap:1.5rem;
}


%col-thirds {
	column-count:3;
	column-gap:1.5rem;
}


%col-quarters {
	column-count:4;
	column-gap:1.5rem;
}


/* ==========================================================================
   ONE WAY MARGINS
========================================================================== */

p, h1, h2, h3, h4, h5, h6, hgroup, dd, figure, pre, table, fieldset, legend, hr {
	@include trailer();
}

/* ==========================================================================
   SELECTION STYLING
========================================================================== */
/* This is used to change the highlight colour when selecting text.
 * Nice bespoke touch to websites.
 * Full article here: http://davidwalsh.name/css-selection
 */

::-moz-selection {
	background: $base-color;
	color: $white;
	text-shadow: none;
}

::selection {
	background: $base-color;
	color: $white;
	text-shadow: none;
}

/* ==========================================================================
   CLEARFIX  STYLES
========================================================================== */
/*
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `%cf` class appearing over
 * and over in your markup.
 */

%cf{
    &:after{
        content:"";
        display:table;
        clear:both;
    }
}