/*---------------------------------------------------
    HELPER STYLES v1.1
  ---------------------------------------------------
    A set of common SASS helper styles by Terry Upton (Amasci Creative Limited)
-----------------------------------------------------*/

/* ==========================================================================
   HELPER STYLES
========================================================================== */

.margin-top 			{@include leader(); }
.margin-right 			{margin-right:24px; margin-right:1.5rem;}
.margin-bottom 			{@include trailer();}
.margin-left 			{margin-left:24px; margin-right:1.5rem;}

.half-margin-top 		{@include leader(0.5);
.half-margin-right 		{margin-right:12px; margin-right:0.75rem;}
.half-margin-bottom 	{@include trailer(0.5);}
.half-margin-left 		{margin-left:12px; margin-right:0.75rem;}

.flush-top 				{margin-top:0 !important;}
.flush-right 			{margin-right:0 !important;}
.flush-bottom 			{margin-bottom:0 !important;}
.flush-left 			{margin-left:0 !important;}
.flush 					{margin:0 !important;}

.float-right   			{ float:right!important; }
.float-left    			{ float:left !important; }

.text-left     			{ text-align:left  !important; }
.text-center   			{ text-align:center!important; }
.text-right    			{ text-align:right !important; }

%muted					{@include opacity(0.5);}


/* ==========================================================================
   STYLING
========================================================================== */

//$horizontal  $vertical  $blur  $spread  $color;
%shadow {
	box-shadow:0 0 4px 2px $grey;
}

//$horizontal  $vertical  $blur  $spread  $color;
%inner-shadow {
	box-shadow: inset 0 0 4px $grey;
}

//Makes Whole Box Rounded
%round {
	border-radius:10px;
}

// Border Radius To define each corner
%border-radius {
	border-radius: 10px 10px 10px 10px;
}

/* ==========================================================================
   HIDE STYLES
========================================================================== */


.hidden {
    display: none !important;
    visibility: hidden;
}


/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

%visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
    .focusable {
	    &:active, &:focus {
			clip: auto;
		    height: auto;
		    margin: 0;
		    overflow: visible;
		    position: static;
		    width: auto;
	    }
    }
}

/*
 * Image replacement
 */

%ir {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/* ==========================================================================
   ARROW/TRIANGLE  STYLES
========================================================================== */

%arrow-up {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;

	border-bottom: 10px solid $white;
}

%arrow-down {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;

	border-top: 20px solid #f00;
}

%arrow-right {
	width: 0;
	height: 0;
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;

	border-left: 60px solid green;
}

%arrow-left {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;

	border-right:10px solid blue;
}


// Add an arrow ">" before the text
%arrow-before:before {
    content: ">";
    @include px-rem(margin-right, 0.5);
}
