///*---------------------------------------------------
//   MIXINS COMMON ELEMENTS v1.1
//  ---------------------------------------------------
//    A set of useful SASS mixins by Terry Upton (Amasci Creative Limited)
//	These should be common for every project or slight adjustments required.
//-----------------------------------------------------*/

//* ==========================================================================
//   FONT FORMULA
//========================================================================== */
// SEE Vertical Rhythm File for the rules on this.


//TODO: Remove this and associated calls and use the one in the Vertical Rhythm document - line 39!!!!!

//Mixin For REM and PX Fallback

@mixin px-rem($property, $value) {
  #{$property}: $value * $base-font-size;
  #{$property}: #{$value}rem;
}


//* ==========================================================================
//   GRADIENT STYLES
//========================================================================== */

@mixin gradient($from, $frompos, $to, $topos) {
  /* fallback/image non-cover color */
  background-color: $from;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from $frompos, $to $topos);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($frompos, $from), to($topos, $to));

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from $frompos, $to $topos);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
}

//* ==========================================================================
//   OTHER STYLES
//========================================================================== */

@mixin opacity($opacity) {
	opacity: $opacity;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" $opacity * 100 ")";
	filter: alpha(opacity= $opacity * 100 );
	zoom: 1;
}

@mixin placeholder($color: $text-color) {
    &::-webkit-input-placeholder 	  {color: rgba($color, .6);}	/* WebKit browsers */
    &:-moz-placeholder				      {color: $color;}	/* Mozilla Firefox 4 to 18 */
    &::-moz-placeholder 			      {color: $color;}	/* Mozilla Firefox 19+ */
    &:-ms-input-placeholder 		    {color: $color;}	/* Internet Explorer 10+ */
}


// Mixin to float lists in a columns, define the list width in the include
// 30% 3 Col

@mixin list-col($col-list-width) {
  width:$col-list-width;
  float:left;
}

//* ==========================================================================
//   MEDIA QUERY STYLES - http://codepen.io/sturobson/pen/keuyp
//========================================================================== */

@mixin mq($point, $IE9: false, $query1: min, $query2: width) {

@if $IE9 == true{
    // if true then give an IE conditional class 'fallback' for oldIE
    .lt-ie9 & {
      @content;
    }
   @media screen and (#{$query1}-#{$query2}: $point / $base-font-size +em) {
      @content;
    }
  }
  @else {
    // if not true (suggest writing - false - for clarity no 'fallback'
    @media screen and (#{$query1}-#{$query2}: $point / $base-font-size +em) {
      @content;
    }
  }
}