/*---------------------------------------------------
    Image STYLES v1.1
  ---------------------------------------------------
    A set of common SASS image styles by Terry Upton (Amasci Creative Limited)
-----------------------------------------------------
*/

/* ==========================================================================
   IMAGES
========================================================================== */
img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/**
 * Non-fluid images if you specify 'width' and/or 'height' attributes.
 */
img[width],
img[height]{
    max-width:none;
}


/* ==========================================================================
   PLACEMENTS
========================================================================== */
.img-right{
  @include trailer;
  @include px-to-rem(margin-left, $base-spacing-unit);
  float:right;
}
.img-left{
    float:left;
  @include trailer;
  @include px-to-rem(margin-right, $base-spacing-unit);
}
.img-center{
  @include trailer;
  display:block;
  margin-right:auto;
  margin-left:auto;
}

/* ==========================================================================
   MISC/UNIQUE STYLES
========================================================================== */

.logo {
  @extend .img-center;
}