/*---------------------------------------------------
    LINK STYLES v1.1
  ---------------------------------------------------
    A set of common and unique links styles by Terry Upton (Amasci Creative Limited)
	Some of these elements will be unique for every project.
-----------------------------------------------------*/

/* ==========================================================================
   BASE LINK STYLES
========================================================================== */

a {
	// Property, Duration, Animation Type
	transition: all .60s ease;
	color:$link-color; text-decoration:none;
	&:hover,&:focus,&:active {
		transition: all .60s ease;
		color:$hover-color;
		text-decoration:none;
		cursor:pointer;
	}
}

footer a {
	transition: all .60s ease;
	color:$link-color; text-decoration:none;
	&:hover,&:focus,&:active {
		color:$hover-color;
		text-decoration:underline;
		transition: all .60s ease;
	}
}

a[href^="tel:"] {
	color:$sub-color;

	footer & {
		color:$white;
	}
}

/* ==========================================================================
   BUTTON STYLES
========================================================================== */

.btn, a:link.btn, a:visited.btn {
	transition: all .60s ease;
	background-color:$link-color;
	border:2px solid white;
	color:$white; text-decoration:none;
	padding:8px 15px;
	cursor:pointer;
	-webkit-appearance: none;


	&:hover,&:focus,&:active {
		transition: all .60s ease;
		background-color:$hover-color;
		color:$white;
		outline: none;
	}
}

/* ==========================================================================
   SPECIFIC LINK STYLES
========================================================================== */

.icon-social {
	@include set-font-size(40px);
	transition: all .60s ease;
	text-decoration:none;
	position:relative; top:0px;
	margin-right:$half-spacing-unit;

	&:hover,&:focus,&:active {
		transition: all .60s ease;
		top:10px;
	}

}
