/*---------------------------------------------------
    NAVIGATION STYLES
  ---------------------------------------------------
    A set of common navigation styles by Terry Upton (Amasci Creative Limited)
	These might be unique for every project.
-----------------------------------------------------*/

/* ==========================================================================
   NAV BUTTON
========================================================================== */

.menu-link, .menu-link:hover {
	color:$white;
	display: block;
	float: right;
	text-decoration: none;

	&:before {
		@include set-font-size(21px);
		@extend .icon-menu;
		content: "\e000";
		margin-right:2px;
		position:relative;
		top:2px;
	}

	&:after {
		content: 'Menu'
	}

	span {
		@extend %visually-hidden;
	}

	@include mq(705px, false, min) {
		display: none;
	}
}

.menu-link-active, .menu-link-active:hover {
		color:$base-color;
		@extend .icon-close;

	&:before {
		@include set-font-size(21px);
		@extend .icon-close;
		content: "\e017";
		margin-right:2px;
		position:relative;
		top:2px;
	}

		&:after {
			content: 'Close'
		}

}


/* ==========================================================================
   MAIN NAV
========================================================================== */


.main-menu {
	@include transition(all, .60s, ease);
	@extend .container;
	position:absolute;
	top:45px;
	z-index:1000;
	width:100%;


	@include mq(705px, false, min) {
		clear:both;
		position:relative;
		top:0;
	}


	@include mq(704px, false, max) {
		max-height: 0;
		overflow: hidden;
	}


	ul {
		@extend .text-center;
		@include trailer();
		list-style:none;
		padding:0;

	}

	li {

		@include set-font-size(18px);
		font-family:$font-header;
		font-weight:400;

		@include mq(704px, false, max) {
			&:first-child > a  {
				border-top:1px solid $white;
			}

			> a {
				color:$white;
				background-color:$black;
				padding:10px 0;
				display:block;
				border-bottom:1px solid;

				&:hover,&:focus,&:active,
				&.current {
					color:$white;
					background-color:$sub-color;
					text-decoration: none;
				}
			}
		}

		@include mq(705px, false, min) {

				display:inline-block;
		        *display:inline;
		         zoom:1;

				> a {
					color:$white;
					background-color:inherit;
					padding:0 15px;
					border-bottom:0;

					&:hover,&:focus,&:active,
					&.current {
						color:lighten($base-color, 20%);
						background-color:inherit;
					}
				}
		}

		@include mq(890px, false, min) {
			> a { padding:0 30px}
		}
	}
}

/* ==========================================================================
   RWD NAV - HIDE
========================================================================== */
//This shows the menu on mobile view. Appended using JS
.active {
	max-height: 20em;
}


/* ==========================================================================
   FOOTER NAV
========================================================================== */

.footer-menu {
	@include gs-span(m,all);
	background-color:$black;

	ul {
		@extend .text-center;
		list-style:none;
		padding:15px 0;

		@include mq(990px, false, min) {
			text-align:left !important;
			width:990px;
			margin:auto;
		}

	}

	li {
		@include set-font-size(12px);
		display:inline-block;
		*display:inline;
		zoom:1;
		padding:0 10px;

		> a {
			color:$white;

			&:hover,&:focus,&:active {
				color:lighten($base-color, 20%);
				text-decoration: none;
			}
		}

		@include mq(705px, false, min) {
			padding:0 15px;
		}

	@include mq(989px, false, min) {
			padding:0 30px;
		}
	}

}