/*---------------------------------------------------
    FONT/TYPOGRAPHY STYLES v1.1
  ---------------------------------------------------
    A set of common SASS font and typography styles by Terry Upton (Amasci Creative Limited)
-----------------------------------------------------
*/

/* ==========================================================================
   HEADING STYLES
========================================================================== */

h1, h2, h3, h4, h5, h6 {
	color:$text-header-color;
	font-family:$font-header;
	text-rendering: optimizeLegibility;
}

h1, .alpha 		{
	@include set-font-size($h1-font-size);

	@include mq($tablet, false, max) {
		@include set-font-size($h1-font-size*0.9);
	}

	@include mq($mobile, false, max) {
		@include set-font-size($h1-font-size*0.8);
	}

}
h2, .beta		{
	@include set-font-size($h2-font-size);
}
h3, .gamma		{@include set-font-size($h3-font-size);}
h4, .delta		{@include set-font-size($h4-font-size);}
h5, .epsilon	{@include set-font-size($h5-font-size);}
h6, .zeta		{@include set-font-size($h6-font-size);}


/* ==========================================================================
   PARAGRAPH AND LIST STYLES
========================================================================== */

p {
	color:$text-color;
	@include set-font-size($p-font-size);
}

.lead {
	color:$base-color;
	@include set-font-size($p-font-size * 1.125);
}

footer p {
	color:$white;
	@include set-font-size($footer-font-size);
}

%caps {text-transform:uppercase;}


ul, ol {
	@include trailer(0.5);
	@include set-font-size($p-font-size);
	color:$text-color;
}

ul 			{list-style: disc inside;}
ol 			{list-style: decimal inside;}

ul.square	{list-style: square inside;}
ul.disc 	{list-style: circle inside;}
ul.bullet 	{list-style: disc inside;}

li			{
	@include px-rem(margin-left, 0.75);
	@include px-rem(margin-right, 0.75);
}

ul ul,
ul ol,
ol ol,
ol ul 		{
	@include px-rem(margin, 0.75);
}


%list-col-third 	{@include list-col(30%);}
%list-col-half 		{@include list-col(45%);}


/* ==========================================================================
   FONT WEIGHTS AND SIZES
========================================================================== */

.extra-light 		{font-weight:100;}
.light 				{font-weight:300;}
.normal 			{font-weight:400;}
.bold			 	{font-weight:700;}
.extra-bold 		{font-weight:900;}


.xsmall 			{@include set-font-size(11px);}
.small 				{@include set-font-size(13px);}
.large 				{@include set-font-size(21px);}
.xlarge 			{@include set-font-size(30px);}
